      {{#each developers  as | developer |}}
      <div class="col-md-6 col-lg-4 mb-5 p-3">
        <div class="card border rounded">
          <div class="circular--portrait">
            <img src={{picture}} class="mx-auto" alt="Team Member">
          </div>
          <!-- <div style="background-image: url('./images/broc-pasta.jpg')" class="card-img-top"></div> -->
          <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
            {{#if role}}
            <h6 class="card-title advanced-search">{{role}}</h6>
            {{/if}}
            <p class="card-text">
              {{description}}
            </p>
          </div>
            <div class="card-footer d-flex justify-content-between btn-group text-center">
              <a class="btn" type="submit" href="{{linkedin}}" target="_blank">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
                Linkedin
              </a>
              <a class="btn btn-search-home" type="submit" href="{{github}}" target="_blank">
                <i class="fab fa-github"></i>
                GitHub
              </a>
            </div>
        </div>
      </div>
      {{/each}}